/*  */
:root {
  --grey-med: #ddd;
  --grey-light: #f7f7f7;
  --grey-text-light: #717171;
  --grey-text-dark: #222;
  --pink: #ff385c;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 3rem;
}

.pagination,
.pagination li a {
  display: flex;
  border: transparent;
  align-items: center;
  justify-content: center;
}
.pagination li {
  background: #ff385c;
  list-style: none;
  border-radius: 30px;
  margin: 5px;
  display: flex;
  align-items: center;
}
.pagination li a {
  text-decoration: none;
  height: 50px;
  width: 50px;
  color: #fdfdfd;
  font-size: 14px;
  text-align: center;
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
  border-right-width: 0px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}
.pagination li:last-child a {
  border-right-width: 1px;
}
.pagination li a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-top-color: rgba(0, 0, 0, 0.35);
  border-bottom-color: rgba(0, 0, 0, 0.5);
}
.pagination li a:focus,
.pagination li a:active {
  padding-top: 4px;
  border-left-width: 1px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}
.pagination li.icon a {
  min-width: 120px;
}
.pagination li:first-child span {
  padding-right: 8px;
}
.pagination li:last-child span {
  padding-left: 8px;
}

* {
  box-sizing: border-box;
}
/* body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: #130f40; */
/* } */
.search-box {
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  position: relative;

  margin: 2em auto;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 14px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;

  background-color: #ff385c;
  padding-right: 40px;
  color: grey;
}
.input-search::placeholder {
  color: black;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: white;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

select {
  padding: 8px 16px;
  outline: none;
  background: transparent;
  margin: 2px;
}

.outlined {
  border: 1px solid #b0b0b0;
}
.outlined:hover {
  border-color: var(--grey-text-dark);
}
.curved {
  border-radius: 30px;
}
.noHayPaises {
  display: inline;
  text-align: center;
}
