/* .mapa {
  background-size: auto;
}

.bienvenida {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} */

.full {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background: url(../images/mundo.jpg) no-repeat 50% 50%;
}

.full-inner {
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}

.content {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.content h1 {
  font-size: 500%;
  color: whitesmoke;
  text-shadow: 0px 3px 3px #0000006e;
}

.content a {
  border-radius: 9px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  border: 3px solid;
  padding: 7px 13px;
}
